* {
    margin-left: 0px;
    margin-right: 0px;
}

.welcomeh2 {
    /* color: #03989e; */
    font-family: 'Cooper Black';
    text-align: center;
    font-size: 35px;
}

.appointment-card{
    text-align: center;
    background-color: #20482D;
    border-radius: 20px;
    color: beige;
    width: 250px;
    height: 45vh;
    margin: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    box-shadow: 5px 10px #888888;
}

.appointment-card button {
    color: black;
    background-color: #7ed957;
}

h6{
    font-size: 20px;
}