<div class="container">
    <span><img class="logo"src="./assets/images/CureWell MAIN.png" alt="" width="200px"></span>
    <span><h1 class="curewell">Curewell</h1></span>
</div>

<br>

<ul class="navbar">
    <li class="no-bullets"><a href="patient-login-success">Home</a></li>
    <li class="no-bullets"><a href="order-medicines">Order Medicines</a></li>
    <li class="no-bullets"><a href="book-appointment">Book Appointment</a></li>
    <li class="no-bullets"><a href="./">Logout</a></li>
    <li class="vaccine"><a href="https://www.cowin.gov.in/" target="_blank">Click here for Vaccination</a></li>
</ul>