<div class="container">
    <span><img class="logo"src="./assets/images/CureWell MAIN.png" alt="" width="200px"></span>
    <span><h1 class="curewell">Curewell</h1></span>
</div>

<br>

<ul class="navbar">
    <li class="no-bullets"><a href="./">Home</a></li>
    <li class="no-bullets"><a>Login</a>
        <ul class="no-bullets">
            <li><a href="patient-login" class="loginhover">Patient</a></li>
            <li><a href="doctor-login" class="loginhover">Doctor</a></li>
        </ul>
    </li>
    <li class="no-bullets"><a>Signup</a>
        <ul class="no-bullets">
            <li><a (click)="addPatient()" class="loginhover">Patient</a></li>
            <li><a (click)="addDoctor()" class="loginhover">Doctor</a></li>
        </ul>
    </li>
    <li class="no-bullets"><a href="#services">Facilities</a></li>
    <li class="no-bullets"><a href="#about">About Us</a></li>
    <li class="no-bullets"><a href="#contact">Contact Us</a></li>
    <li class="vaccine"><a href="https://www.cowin.gov.in/" target="_blank">Click here for Vaccination</a></li>
</ul>