<div class="container">
    <span><img class="logo"src="./assets/images/CureWell MAIN.png" alt="" width="200px"></span>
    <span><h1 class="curewell">Curewell</h1></span>
</div>

<br>

<ul class="navbar">
    <li class="no-bullets"><a href="doctor-dashboard">Home</a></li>
    <li class="no-bullets"><a (click)="getAppointment()">View Appointments</a></li>
    <li class="no-bullets"><a href="patient-history">View Patients</a></li>
    <li class="no-bullets"><a href="./">Logout</a></li>
    <li class="vaccine"><a href="https://www.cowin.gov.in/" target="_blank">Click here for Vaccination</a></li>
</ul>