<app-d-navbar></app-d-navbar>
<br>


<h2 class="welcomeh2">View Appointments </h2>
<br>
<div style="display: block;text-align: center;">

  <table cellspacing="10" cellpadding="10" class="table table-bordered">
    <thead style="background-color: #03989e; color: #ffffff;">
      <tr>
        <th>Appointment Id</th>
        <th>Patient Name </th>
        <th>Reason To Visit</th>
        <th>Date</th>
        <th>Time </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments">
        <td class="table-active">
          {{appointment.appointmentId}}
        </td>
        <td class="table-primary">
          {{appointment.patientName}}
        </td>
        <td class="table-success">
          {{appointment.reasonToVisit}}
        </td>
        <td class="table-warning">
          {{appointment.date}}
        </td>
        <td class="table-danger">
          {{appointment.time}}
        </td>

      </tr>
    </tbody>
  </table>
</div>
