<app-navbar></app-navbar>
<br />
<h2 class="welcomeh2">Patient Registration</h2>
<br>


<div class="container" style="color: black; font-family: 'Bell MT'; font-size: 18px; font-weight: bold;">

    <form [formGroup]="patientForm" (ngSubmit)="savePatient()">
        <fieldset>
            <div class="form-group row">
                <div class="form-group col-md-6 col-mb-6"></div>
                <div class="form-group col-md-5 col-mb-6">
                    <div class="form-group">

                        <label for="patientEmailId">Patient Email Id </label>
                        <input type="text" class="form-control" name="patientEmailId" id="patientEmailId"
                            formControlName="patientEmailId">
                        <div class="alert alert-danger"
                            *ngIf="patientForm.get('patientEmailId').hasError('required') && patientForm.get('patientEmailId').dirty">
                            Patient Id is required
                        </div>
                        <div class="alert alert-danger"
                            *ngIf="patientForm.get('patientEmailId').hasError('min') && patientForm.get('patientEmailId').dirty">
                            Patient Id can't be Stored
                        </div>
                    </div>

                </div>

                <div class="form-group col-md-6 col-mb-6"></div>
                <div class="form-group col-md-5 col-mb-6">
                    <div class="form-group">

                        <label for="patientName">Patient Name</label>
                        <input type="text" class="form-control" name="patientName" id="patientName"
                            formControlName="patientName">
                        <div class="alert alert-danger"
                            *ngIf="patientForm.get('patientName').hasError('required') && patientForm.get('patientName').dirty">
                            Patient name is required
                        </div>
                        <div class="alert alert-danger"
                            *ngIf="patientForm.get('patientName').hasError('minlength') && patientForm.get('patientName').dirty">
                            Patient name must be of 3 characters
                        </div>
                    </div>
                </div>



                <div class="form-group col-md-6 col-mb-6"></div>
                <div class="form-group col-md-5 col-mb-6">
                    <div class="form-group">

                        <label for="patientContact">Patient Contact </label>
                        <input type="text" name="patientContact" id="patientContact" class="form-control"
                            formControlName="patientContact">
                        <div class="alert alert-danger"
                            *ngIf="patientForm.get('patientContact').hasError('required') && patientForm.get('patientContact').dirty">
                            Patient Contact is required
                        </div>
                        <div class="alert alert-danger"
                            *ngIf="patientForm.get('patientContact').hasError('minlength') && patientForm.get('patientContact').dirty">
                            Patient Contact must be of 10 characters
                        </div>
                        <div class="alert alert-danger"
                            *ngIf="patientForm.get('patientContact').hasError('maxlength') && patientForm.get('patientContact').dirty">
                            Patient Contact must be of 10 characters
                        </div>
                    </div>
                </div>


                <div class="form-group col-md-6 col-mb-6"></div>
                <div class="form-group col-md-5 col-mb-6">
                    <div class="form-group">

                        <label for="patientAddress">Patient Address </label>
                        <input type="text" name="patientAddress" id="patientAddress" class="form-control"
                            formControlName="patientAddress">
                        <div class="alert alert-danger"
                            *ngIf="patientForm.get('patientAddress').hasError('required') && patientForm.get('patientAddress').dirty">
                            Patient Address is required
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-mb-6"></div>
                <div class="form-group col-md-5 col-mb-6">
                    <div class="form-group">
                        <label for="patientGender">Patient Gender </label>

                        <input type="text" name="patientGender" id="patientGender" class="form-control"
                            formControlName="patientGender">
                        <div class="alert alert-danger"
                            *ngIf="patientForm.get('patientGender').hasError('required') && patientForm.get('patientGender').dirty">
                            Patient Gender is required
                        </div>
                        <div class="alert alert-danger"
                            *ngIf="patientForm.get('patientGender').hasError('maxlength') && patientForm.get('patientGender').dirty">
                            Please enter M or F for Male and Female respectively.
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-mb-6"></div>
                <div class="form-group col-md-5 col-mb-6">
                    <div class="form-group">

                        <label for="patientAge">Patient Age </label>
                        <input type="number" class="form-control" name="patientAge" id="patientAge"
                            formControlName="patientAge">
                        <div class="alert alert-danger"
                            *ngIf="patientForm.get('patientAge').hasError('required') && patientForm.get('patientAge').dirty">
                            Patient Age is required
                        </div>
                        <div class="alert alert-danger"
                            *ngIf="patientForm.get('patientAge').hasError('min') && patientForm.get('patientAge').dirty">
                            Patient Age can't be Stored
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-mb-6"></div>
                <div class="form-group col-md-5 col-mb-6">
                    <div class="form-group">
                        <label for="patientGuardian">Patient Guardian </label>

                        <input type="text" class="form-control" name="patientGuardian" id="patientGuardian"
                            formControlName="patientGuardian">
                        <div class="alert alert-danger"
                            *ngIf="patientForm.get('patientGuardian').hasError('required') && patientForm.get('patientGuardian').dirty">
                            Patient Guardian name is required
                        </div>
                        <div class="alert alert-danger"
                            *ngIf="patientForm.get('patientGuardian').hasError('minlength') && patientForm.get('patientGuardian').dirty">
                            Patient Guardian name must be of 3 characters
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-mb-6"></div>
                <div class="form-group col-md-5 col-mb-6">
                    <div class="form-group">
                        <label>Guardian Contact </label>

                        <input type="text" class="form-control" formControlName="guardianContact">
                        <div class="alert alert-danger"
                            *ngIf="patientForm.get('guardianContact').hasError('required') && patientForm.get('guardianContact').dirty">
                            Guardian Contact is required
                        </div>
                        <div class="alert alert-danger"
                            *ngIf="patientForm.get('guardianContact').hasError('minlength') && patientForm.get('guardianContact').dirty">
                            Guardian Contact must be of 10 characters
                        </div>
                        <div class="alert alert-danger"
                            *ngIf="patientForm.get('guardianContact').hasError('maxlength') && patientForm.get('guardianContact').dirty">
                            Guardian Contact must be of 10 characters
                        </div>
                    </div>
                </div>


                <div class="form-group col-md-6 col-mb-6"></div>
                <div class="form-group col-md-5 col-mb-6">
                    <div class="form-group">
                        <label>Patient Password </label>

                        <input type="password" class="form-control" formControlName="patientPassword">
                        <div class="alert alert-danger"
                            *ngIf="patientForm.get('patientPassword').hasError('minlength') && patientForm.get('patientPassword').dirty">
                            Password must be of 8 characters
                        </div>
                        <div class="alert alert-danger"
                            *ngIf="patientForm.get('patientPassword').hasError('required') && patientForm.get('patientPassword').dirty">
                            Password is required
                        </div>
                        <div class="alert alert-danger"
                            *ngIf="patientForm.get('patientPassword').hasError('pattern') && patientForm.get('patientPassword').dirty">
                            Passowrd Does not Match requirement
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <div class="form-group col-md-6 col-mb-6"></div>
            <div class="form-group col-md-5 buttons" align=center>
                <button type="submit" class="btn-lg btn-success" [disabled]="patientForm.invalid">
                    Patient</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="reset" class="btn-lg btn-info">Clear</button>
            </div>
        </div>
    </form>
</div>

<app-footer></app-footer>