<app-p-navbar></app-p-navbar>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-4" align=center>
            <div class="appointment-card">
                <br />
                <div>
                    <img src="./assets/book.png" width="60px">
                </div>
                <br />
                <br />
                <div>
                    <h5>Book online appointment</h5>
                    <p>Combining the best specialists and equipment to provide you nothing short of the best in
                        healthcare.......</p>
                    <a href="book-appointment">BOOK NOW</a>
                </div>
            </div>
        </div>

        <div class="appointment-card">
            <br />
            <div>
                <img src="./assets/ordermedicine.png" width="70px" height="80px">
            </div>
            <br />
            <div>
                <h5>Order Medicines</h5>
                <p>Let food be thy medicine and medicine be thy food</p>
                <a href="coming-soon">ORDER NOW</a>
            </div>
        </div>

        <div class="appointment-card">
            <br />
            <div>
                <img src="./assets/report.png" width="70px" height="80px">
            </div>
            <br />
            <div>
                <h5>View Health Status Reports</h5>
                <p>He who has health has hope and he who has hope has everything </p>
                <a href="coming-soon">VIEW NOW </a>
            </div>
        </div>
    </div>
</div>



<!-- <img src="./assets/doctor-patient.jpg" width="100%" height="700"> -->
<br>

<app-footer></app-footer>